estilos de form


:root {

--colorFondo : #ffffff;
--cajaSonbra :0 1px 3px rgba(0,0,0,0.2);
--borderForm: border-radius:8px;
--tamañoPrecio: font-weight: 600;
--colorPrecio:color: #28a745;
--hover : var(--hover background-color: #f1f3f5)

}
/* label para dal estilo a las letras  */
label{
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

/*  estylos del formulario  */
.form {
    
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;

}
/* llamando a esta etiqueta main con clase pageform para centrar formulario */
.PageForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* para que no tenga border el formulario */
fieldset{
    border: none;
    text-align: center;

}
/* centrando contenido del formulario desde la pagina main  */
.PageForm{
    justify-content: center;
}

.form-button{
    font-size: larger;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(0, 166, 78);
    color: #ffffff;
    cursor: pointer;
}
.form-button :hover{
    color:rgb(61, 61, 61)
}